
<h2 class="mb-5">
    @if(usuario){
        Editar
    }@else{
        Nuevo contacto

    }
</h2>

<div class="row row-cols-3 justify-content-center">
    @if(form){
    <form [formGroup]="form" (ngSubmit)="save()">
      @if(email){

        <div class="mb-3">
            <label for="correo">correo</label>
            <input id="correo" type="text" placeholder="email"
                class="form-control" formControlName="correo" [(ngModel)]="email" readonly >
        
        </div>
    }
        <div class="mb-3">
            <label for="primer_nombre">primer_nombre</label>
            <input id="primer_nombre" type="text" placeholder="nombre"
                class="form-control" formControlName="primer_nombre">
        </div>
        <div class="mb-3">
            <label for="segundo_nmbre">segundo_nmbre</label>
            <input id="segundo_nmbre" type="text" placeholder="email"
                class="form-control" formControlName="segundo_nmbre">
        </div>
        <div class="mb-3">
            <label for="primer_apellido">primer_apellido</label>
            <input id="primer_apellido" type="text" placeholder="nombre"
                class="form-control" formControlName="primer_apellido">
        </div>
        <div class="mb-3">
            <label for="segundo_apellido">segundo_apellido</label>
            <input id="segundo_apellido" type="text" placeholder="email"
                class="form-control" formControlName="segundo_apellido">
        </div>
        <div class="mb-3">
            <label for="rol">Selecciona tu rol</label>
            <select class="form-control" id="rol" formControlName="rol">
              <option value="Estudiante">Estudiante</option>
              <option value="Tutor">Tutor</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="codigotutor">codigotutor</label>
            <input id="codigotutor" type="text" placeholder="nombre"
                class="form-control" formControlName="codigotutor">
        </div>
        <div class="mb-3">
            <label for="sexo">sexo</label>
            <input id="sexo" type="text" placeholder="email"
                class="form-control" formControlName="sexo">
        </div>
        <div class="mb-3">
            <label for="telefono">telefono</label>
            <input id="telefono" type="number" placeholder="nombre"
                class="form-control" formControlName="telefono">
        </div>
        <div class="mb-3">
            <label for="fecha_nacimiento">fecha_nacimiento</label>
            <input id="fecha_nacimiento" type="date" placeholder="email"
                class="form-control" formControlName="fecha_nacimiento">
        </div>
        <div class="mb-3">
            <label for="descripcion">descripcion</label>
            <textarea id="descripcion" type="text" placeholder="nombre"
                class="form-control" formControlName="descripcion" rows="3"></textarea>
        </div>

        


        <div class="text-end">
            <button type="button" class="btn btn-light " routerLink="/listarusuario">
                Cancelar

            </button>
            <button class="btn btn-light ms-2">
                @if(usuario){
                    Actualizar contacto
                }@else{
                    Crear contacto
            
                }
            </button>

        </div>

    </form>
}
</div>
