

@if(usuario){
<table class="table table-hover">
    <thead>
        <tr>
            <th>primer nombre</th>
            <th>segundo nombre</th>
            <th>primer apellido</th>
            <th>segundo apellido</th>
            <th>rol</th>
            <th>sexo</th>
            <th>Telefono</th>
            <th>descripcion</th>
            <th>correo</th>
            <th>fecha de nacimiento</th>
            <th></th>

        </tr>
    </thead>    
        <tbody>
          

                <tr>
                    <td style="display: none;">{{usuario.id_usuario}}</td>
                    <td>{{usuario.primer_nombre}}</td>
                    <td>{{usuario.segundo_nmbre}}</td>
                    <td>{{usuario.primer_apellido}}</td>
	                <td>{{usuario.segundo_apellido}}</td>
	                <td>{{usuario.rol}}</td>
	                <td>{{usuario.sexo}}</td>
	                <td>{{usuario.telefono}}</td>
	                <td>{{usuario.descripcion}}</td> 
                    <td>{{usuario.correo}}</td>
                    <td>{{extractAndFormatDate(usuario.fecha_nacimiento)|date:'dd/MM/yyyy'}}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button class="btn btn-primary" [routerLink]="['/',usuario.id_usuario,'editarusuario']">
                                Editar
                            </button>
                        </div>

                    </td>
                </tr>
            

        </tbody>


   

</table>
}