
<h2 class="mb-5">

</h2>

<div class="row row-cols-3 justify-content-center">
    <div>
        <button (click)="iniciarSesionConGoogle()">Iniciar sesión con Google</button>
        <!--<button *ngIf="sessionStorage.getItem('correo')" (click)="cerrarSesion()">Cerrar sesión</button>-->
      </div>
      <div>
        <button (click)="registrarConGoogle()">Registrarse con Google</button>
        <!--<button *ngIf="sessionStorage.getItem('correo')" (click)="cerrarSesion()">Cerrar sesión</button>-->
      </div>
      
  
</div>
