
<h2 class="mb-5">
    @if(retroalimentacion){
        Editar
    }@else{
        Nuevo retroalimentacion

    }
</h2>

<div class="row row-cols-3 justify-content-center">
    @if(form){
    <form [formGroup]="form" (ngSubmit)="save()">

        <div class="mb-3">
            <label for="puntaje">Puntaje</label>
            <div id="puntaje" class="d-flex align-items-center">
              <!-- Generación dinámica de estrellas -->
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <label class="star">
                  <input 
                    type="radio" 
                    formControlName="puntaje" 
                    [value]="star"
                    class="d-none" 
                  />
                  <span class="star-icon">&#9733;</span> <!-- Icono de estrella -->
                </label>
              </ng-container>
            </div>
          </div>

        <div class="mb-3">
            <label for="comentarios">comentarios</label>
            <textarea id="comentarios" type="text" 
                class="form-control" formControlName="comentarios"></textarea>
        </div>

        
        <div class="text-end">
            <button type="button" class="btn btn-light " routerLink="/listarretroalimentacion">
                Cancelar

            </button>
            <button class="btn btn-light ms-2">
                @if(retroalimentacion){
                    Actualizar retroalimentacion
                }@else{
                    Crear retroalimentacion
            
                }
            </button>

        </div>

    </form>
}
</div>
