.calendar-day {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
  }
  .calendar-day.today {
    background-color: #007bff;
    color: white;
  }
  .calendar-day.highlighted {
    background-color: #6f42c1;
    color: white;
  }
  .day-number {
    font-weight: bold;
    font-size: 1.2em;
  }
  .day-name {
    font-size: 0.8em;
  }

  /* Fondo del modal */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenido del modal */
.custom-modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}



/* Encabezado del modal */
.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Botón de cierre */
.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Cuerpo del modal */
.custom-modal-body {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}
a { color: #FF0000; }

/* Pie de página del modal */
.custom-modal-footer {
  text-align: right;
}
